@import "../../_base.scss";
.comment {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  align-items: flex-start;
  gap: 1rem;
  color: #ddd;

  img {
    width: 50px;
    height: 50px;
  }

  .commentBody {
    .username {
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;

      .commentTime {
        color: #999;
        font-size: 0.9rem;
      }
    }
    .commentText {
      margin: 0;
      white-space: pre-wrap;
    }
  }
}
