@import "../../base.scss";

.videoContainer {
  margin: 0.75rem 0;
  //   padding: 0.7rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

  .video {
    // margin-bottom: 0.5rem;
    position: relative; //for absolute position of duration

    .videoThumbnail {
      width: 100%;
      border-radius: 10px;
    }

    .duration {
      position: absolute;
      bottom: 0.3rem;
      right: 0.3rem;
      background-color: #080808;
      padding: 0.2rem;
      border-radius: 5px;
    }
  }

  .detailsContainer {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 0.5rem;
    padding: 0.5rem;

    .channelImage {
      .channelThumbnail {
        object-fit: contain;
        border-radius: 50%;
        width: 100%;
      }
    }

    .videoTitle {
      color: #fff;
      margin-bottom: 0.3rem;

      // Only want 2 lines for title then ellipsis ...
      @include lineClamp(2);
    }

    .videoDetails {
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      color: #888;
      display: flex;
      flex-direction: column;
      line-height: 1.3;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }

  //If channelScreen is calling the video
  .channelScreenDetailsContainer {
    .channelImage {
      .channelThumbnail {
        object-fit: contain;
        border-radius: 50%;
        width: 100%;
      }
    }

    .videoTitle {
      color: #fff;
      margin-bottom: 0.3rem;
      @include lineClamp(2);
    }

    .videoDetails {
      font-size: 0.875rem;
      color: #888;
      display: flex;
      flex-direction: column;
      line-height: 1.3;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
}
