@import "../../base.scss";
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $black-secondary;
  width: 250px;
  height: 90vh;
  padding-top: 2rem;
  gap: 0.5rem;
  transition: transform 0.2s ease-in-out;

  li {
    list-style: none;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;

    span {
      letter-spacing: 0.4px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  hr {
    border: 1px solid $border-color;
  }
}

//When both .sidebar and .open are present. Can also nest as &.open inside .sidebar css class above
.sidebar.open {
  transform: translateX(0);
}

@media (max-width: $breakpoint-medium) {
  .sidebar {
    width: 90px;

    li {
      justify-content: center;
      span {
        display: none;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .sidebar {
    transform: translateX(-100%);
    position: absolute;
    left: 0;
  }
}
