.commentSection {
  position: relative; //For absolutely positioned commentList when windowWidth<1200px
  // overflow-y: hidden;
  // background-color: rgba(68, 68, s68);

  h5 {
    margin-bottom: 2rem;
  }

  color: #eee;
  margin-top: 2rem;

  .commentsForm {
    gap: 1rem;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
    }

    form {
      gap: 1rem;
      input {
        border: none;
        border-bottom: 1px solid #aaa;
        background-color: transparent;
        color: #eee;
        &:focus {
          outline: none;
          border-bottom: 2px solid #aaa;
        }
      }
      button {
        cursor: pointer;
        border-radius: 20px;
        color: #fff;
        background-color: rgba(68, 68, 68, 0.5);
        font-weight: 500;
        letter-spacing: 0.7px;
        &:disabled {
          color: #999;
          cursor: default;
          font-weight: 400;
        }
        &:focus {
          border: none;
          // outline: none;
        }
      }
    }
  }
  .commentsList {
    list-style: none;
    padding: 0;
  }
}

.collapsedComments {
  background-color: rgba(68, 68, 68, 0.5);
  margin: 1rem 0;
  border-radius: 10px;
  .commentStatus {
    cursor: pointer;
    border-radius: 10px;
    text-decoration: underline;
    padding: 1rem;
  }
  .commentsList {
    background-color: rgba(68, 68, 68);
    list-style: none;
    padding: 0;
  }

  .panelContainer {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(68, 68, 68);
    position: relative;

    .closePanel {
      text-decoration: underline;
      top: 1rem;
      // background-color: rgb(68, 68, 68);
      z-index: 8;
      cursor: pointer;
    }

    .commentsPanel {
      padding: 2rem;
    }
  }
}
